@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

body {
  overflow-x: hidden !important;
  background: #000;
  color: #fff;
  overflow-y: auto;
  height: fit-content;
}

/* Live Indicator Animation */
.livenow {
  width: 12px;
  transform: translateY(-6px);
}
.livenow > div {
  vertical-align: middle;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  position: absolute;
  margin: 0 auto;
  border: 1px solid rgba(0, 255, 0, 1);
  -webkit-animation: live 1.4s infinite ease-in-out;
  animation: live 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  &:nth-child(1) {
    background-color: rgba(0, 255, 0, 0.3);
    background-color: rgba(0, 255, 0, 1);
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
  }
  &:nth-child(2) {
    -webkit-animation-delay: 0.16s;
    animation-delay: 0.16s;
  }
  &:nth-child(3) {
    -webkit-animation-delay: 0.42s;
    animation-delay: 0.42s;
    border: 1px solid rgba(0, 255, 0, 0.5);
  }
  &:nth-child(4) {
    border: 1px solid rgba(0, 255, 0, 1);
    -webkit-animation-delay: -0.42s;
    animation-delay: -0.42s;
  }
}

@-webkit-keyframes live {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0.6);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes live {
  0%,
  80%,
  100% {
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

/* Scroll Down Indicator Animation */
#scroll_down_indicator .arrow {
  animation: indicateScrollDown 2s ease infinite;
}

@keyframes indicateScrollDown {
  0% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Chronicle Button */
.chronicle-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  line-height: 1;
  border-radius: 0.4rem;
  padding: 5px 10px 6px;
  cursor: pointer;
  border: none;
  background: white;

  transition: background 0.4s linear;
  will-change: background;
}

.chronicle-button:hover {
  background: #7770ff;
}

.chronicle-button:hover span:nth-of-type(1) em {
  opacity: 0;
  transform: rotateX(90deg) scaleX(0.9) translate3d(0, -10px, 0);
}

.chronicle-button:hover span:nth-of-type(2) em {
  opacity: 1;
  transform: rotateX(0deg) scaleX(1) translateZ(0);
  transition: transform 0.75s cubic-bezier(0.645, 0.045, 0.355, 1),
    opacity 0.35s linear 0.3s;
}

.chronicle-button span {
  position: relative;
  display: block;
  perspective: 108px;
}

.chronicle-button span:nth-of-type(2) {
  position: absolute;
}

.chronicle-button em {
  font-style: normal;
  display: inline-block;
  font-size: 0.875rem;
  color: black;
  font-weight: 600;
  will-change: transform, opacity, transition;
  transition: transform 0.55s cubic-bezier(0.645, 0.045, 0.355, 1),
    opacity 0.35s linear 0.2s;
}

.chronicle-button span:nth-of-type(1) em {
  transform-origin: top;
}

.chronicle-button span:nth-of-type(2) em {
  opacity: 0;
  transform: rotateX(-90deg) scaleX(0.9) translate3d(0, 10px, 0);
  transform-origin: bottom;
}

/* View All Button */

.viewAllButton {
  color: inherit;
  padding: 0;
  text-transform: none;
  cursor: pointer;
}

.viewAllButton {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

.viewAllButton {
  border: 2px solid #7770ff;
  border-radius: 4px;
  padding: 2px 12px;
  transition: all 0.3s ease-in-out;
  text-align: center;
  overflow: hidden;
  position: relative;
  height: 33px;
  cursor: pointer;
}

.viewAllButton::before {
  content: "";
  position: absolute;
  top: 100%;
  left: -40%;
  width: 300%;
  height: 400%;
  background-color: #7770ff;
  transition: all 0.3s ease-in-out;
  transform: rotate(-45deg);
}

.viewAllButton:hover::before {
  top: 0;
  left: -160%;
  width: 380%;
  height: 800%;
}

.viewAllButton span {
  transition: all 0.3s ease-in-out;
  height: 100%;
  position: relative;
  top: 0;
}

.viewAllButton:hover span {
  top: -100% !important;
}

.viewAllButton span::after {
  content: attr(data-text);
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
}

#portfolio_details_drawer {
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
}

#portfolio_details_drawer:focus {
  outline: none;
}

/* Ensure wheel events work */
#portfolio_details_drawer:hover,
#portfolio_details_drawer:focus {
  overflow-y: auto !important;
}
